*/obj/*
src/MonoTorrent/obj/Release/MonoTorrent.csproj.FileListAbsolute.txt
src/MonoTorrent.Dht/obj/Release/MonoTorrent.Dht.csproj.FileListAbsolute.txt
src/MonoTorrent.Dht/obj/Debug/MonoTorrent.Dht.csproj.FileListAbsolute.txt
src/MonoTorrent/obj/Debug/MonoTorrent.csproj.FileListAbsolute.txt
src/MonoTorrent/obj/Stats/MonoTorrent.csproj.FileListAbsolute.txt
DesignTimeResolveAssemblyReferencesInput.cache
build/
src/MonoTorrent.Dht/obj/
src/TrackerApp/obj/
src/SampleClient/obj/
src/MonoTorrent/obj/
*.suo
